<!-- Loop over each object in the projects array -->
{{#each workout}}
<div>
  <div>
    <h2>
      {{!-- workout is a placeholer for now --}}
      <a href="/profile/{{workout}}">{{workout.name}}</a>
    </h2>
  </div>

  <div>
    <p>
      {{workout.description}}
    </p>
  </div>
</div>
{{/each}}
